{% extends 'base.html.twig' %}

{% block title %}Transferir Tarea{% endblock %}

{% block body %}

    <h1>Transferir Tarea</h1>

    {{ form_start(transferTaskForm) }}
    {{ form_row(transferTaskForm.username) }}
    {{ form_errors(transferTaskForm) }}
    <br/>
    <a href="{{ path('admin') }}">Volver a las tareas</a>
    <br/>
    <br/>
    <button type="submit" class="btn btn-lg btn-primary">Transferir Tarea</button>
    {{ form_end(transferTaskForm) }}
{% endblock %}
